.first-screen {
	background-color: $dark-bg-color;
}

.header {
	color: $light-text-color;
	min-height: 90px;
	font-size: 14px;
	line-height: 1.14;
	@include flex (space-between, center);
	margin-right: 100px;
}

.main-navigation {
	@include flex (space-between, center);
	list-style: none;
	a {
		color: $light-text-color;
		text-transform: uppercase;padding: 5px 13px;
		margin: 5px;text-decoration: none;
		transition: color 0.3s ease;
		&:hover,
		&:active {
			color: $accent-color;
		}
	}
}

.tel-link {
	color: $accent-color;
	&:hover {
		color: darken($accent-color, 5%);
	}
}