$text-color: #ffffff;
$accent-color: #E3B873;

$text-font: "Futura BookC", sans-serif;
$text-font: "Futura DemiC", sans-serif;
$scheme-font: "Futura MediumC", sans-serif;
$title-font: "Yeseva One", serif;