.broadcast {
	padding-top: 45px;
	background-image: linear-gradient(to bottom, $dark-bg-color 350px, #fff 350px, #fff 100%);
	.section_title {
		color: $light-text-color;
		&::after {
			content: url("../assets/images/svg/camera.svg");
		}
	}
	.text {
		line-height: 1.7;
		margin-bottom: 80px;
	}
}

.video_wrapper {
	width: max-content;
	margin: 0 auto;
	position: relative;
	iframe {
		display: block;
	}
	&::after {
		content: "";
		width: 100%;
		height: 100%;
		@include absolute;
		background-color: rgba(0, 0, 0, 0.8);
	}
	box-shadow: 0 0 50px 10px rgba($dark-bg-color, 0.15);
	margin-bottom: 90px;
}

