.broadcast {
  padding-bottom: 75px;

  background-image: linear-gradient(to bottom, $dark-bg-color 350px, #ffffff 350px, #ffffff 100%);
  .section_title {
    color: $light-text-color;
    &::after {
      content: url("../assets/images/svg/camera.svg");
    }
  }
  .text {
    position: relative;

    margin-bottom: 80px;
    padding-top: 30px;

    line-height: 1.7;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: calc(50% - 23px);

      display: block;
      width: 55px;
      height: 2px;

      background-color: $accent-color;
      border-radius: 1px;
    }
  }
  &-video {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }
}

.video_wrapper {
  position: relative;

  height: 0;
  margin: 0 auto 60px;
  padding-top: 25px;
  padding-bottom: 52%;

  box-shadow: 0 0 50px 10px rgba($dark-bg-color, 0.15);
  &::after {
    content: "";

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.6);

@include absolute;
  }
}

