.call_measurer {
	padding: 55px 0 130px;
	.wrapper--left {
		display: flex;
		justify-content: space-between;
	}
}

.scheme {
	position: relative;
	margin-right: 40px;
	flex-shrink: 0;
	width: 758px;
	&-circle {
		width: 450px;
		height: auto;

	}
	&-house {
		position: absolute;
		left: 0;
		top: 0;
		max-width: 600px;
	}
}


.request {
	flex-basis: 40%;
	&-title {
		font-size: 20px;
		line-height: 1.25;
		text-align: center;
		max-width: 250px;
		color: $light-text-color;
		margin: 0 auto 37px;
	}
	&_form { 
		&-wrapper {
			background-color: #252525;	
			padding: 28px 49px;
			margin-bottom: 38px;
		}
	}
}

.save {
	font-size: 20px;
	line-height: 1.25;
	color: $accent-color;
	text-shadow: 0px 3px 10px rgba($accent-color, 0.15);
	vertical-align: middle;
	&::before {
		content: url("../assets/images/svg/pig.svg");
		width: 72px;
		height: 72px;
		display: inline-flex;
		border-radius: 50%;
		background-color: $accent-color;
		justify-content: center;
		align-items: center;
		margin-right: 26px;
		box-shadow: 0px 10px 20px rgba($accent-color, 0.2);
	}
	&-text {
		display: inline-block;
		max-width: 220px;
	}
}

.advantages {
	&-item {
		font-size: 18px;
		line-height: 1.17;
		font-family: $scheme-font;
		position: absolute;
		display: flex;
		max-width: 430px;
		width: max-content;
		&::before {
			width: 42px;
			height: 42px;
			background-color: $accent-color;
			border-radius: 50%;
			color: $light-text-color;
			line-height: 42px;
			font-family: $title-font;
			text-align: center;
			vertical-align: middle;
			margin-right: 17px;
			flex-shrink: 0;
		}
		&:first-child {
			top: 61px;
			right: 0;
			&::before {
				content: "01";
			}
		}
		&:nth-child(2) {
			top: 162px;
    		right: 201px;
			&::before {
				content: "02";
			}
		}
		&:nth-child(3) {
			top: 311px;
    		right: 154px;
			&::before {
				content: "03";
			}
		}
		&:last-child {
			bottom: 144px;
    		right: 111px;
			&::before {
				content: "04";
			}
		}
	}
}