.gallery {
  position: relative;

  margin-bottom: 55px;
  &::before {
    content: "";
    position: absolute;
    top: 15%;
    right: 0;
    bottom: 10%;
    left: 0;
    z-index: -1;

    width: 100%;

    background-image: url("../assets/images/bgs/gallery-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.3);
  }
  .colorized_title {
    max-width: 300px;
    margin-bottom: 47px;
  }
  &-inner {
    position: relative;

    @include flex(space-between, center);
  }
  &-photos {
    flex-shrink: 0;
    flex-basis: 60%;

    @include flex(space-between, stretch);
  }
  &-column {
    width: calc((100% - 40px) / 2);
    &:first-child {
      padding-top: 71px;
    }
  }
  &-photo {
    &:first-child {
      margin-bottom: 40px;
    }
  }
  &-slider {
    position: relative;

    display: none;
    overflow: hidden;
    .circle_controls--prev,
    .circle_controls--next {
      position: absolute;
      top: 50%;
    }
    .circle_controls--prev {
      left: 0;

      transform: translate(50%, -50%);
    }
    .circle_controls--next {
      right: 0;
      left: auto;

      transform: translate(-50%, -50%);
    }
  }
  &-list {
    display: flex;
  }
}

.styles {
  @include flex (center, flex-start);

  flex-direction: column;
  &-list {
    list-style: none;
    font-size: 20px;
    line-height: 1.7;
  }
  &-item {
    margin-bottom: 15px;
    &:hover a {
      color: $accent-color;
    }
    &:last-child {
      margin-bottom: 0;
    }
    a {
      color: $light-text-color;
      text-decoration: none;

      transition: color 0.2s ease;
    }
    &--active a {
      padding: 5px 0;

      color: $accent-color;

      border-bottom: 1px solid $accent-color;
    }
  }
}
