.measurement {
	background-color: $dark-bg-color;
	color: $light-text-color;
	.colorized_title {
		max-width: 300px;
		padding-right: 40px;
		span {
			color: $light-text-color;
			font-size: 15px;
			line-height: 1.4;
			font-family: $accent-font;
			text-transform: uppercase;
			display: block;
			margin-bottom: 18px;
		}
	}
}

.steps {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&_desc {
		width: 27%;
		&-numbers {
			font-size: 18px;
			line-height: 1.39;
			font-family: $title-font;
			margin-bottom: 33px;
		}
		&-title {
			text-transform: uppercase;
			font-size: 18px;
			line-height: 1.28;
			color: $accent-color;
			font-family: $title-font;
			max-width: 280px;
		}
		&-text {
			font-size: 15px;
			line-height: 1.67;
			margin-bottom: 20px;
		}
		&-list {
			list-style: none;
		}

	}

	&_demo {
		width: 65%;
		&-list {
			display: grid;
			grid-template-columns: 130px 125px 120px;
			grid-template-rows: repeat(2, 1fr);
			justify-content: space-between;
			list-style: none;
			grid-row-gap: 35px;
			margin-bottom: 44px;
		}

		&-item {
			font-size: 15px;
			line-height: 18px;
			opacity: 0.4;
			max-width: 140px;
			&--active {
				opacity: 1;
			}
		}
		&-num {
			font-size: 15px;
			line-height: 1.4;
			font-family: $title-font;
			border-bottom: 1px solid $accent-color;
			width: max-content;
			display: block;
			margin-bottom: 13px;
		}
		&-photo {
			img {
				display: block;
			}
		}
	}



}