.offer {
  position: relative;

  height: calc(100vh - 140px);
  min-height: 500px;
  padding-left: 60px;

  background: $dark-bg-color url("../assets/images/bgs/offer-bg.jpg") no-repeat center;
  background-size: cover;
@include flex (flex-start, center);
  &::before {
    content: "";
    position: absolute;
    z-index: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);
@include absolute;
  }
  &-inner {
    position: relative;
    z-index: 1;
  }
  .btn {
    &--cta {
      margin-right: 20px;
      padding: 18px 42px;
    }
    &--transparent {
      padding: 17px 22px;
    }
  }
  &-town {
    color: $accent-color;
    white-space: nowrap;
  }
}

.page_title {
  width: 85%;
  max-width: 600px;

  font-size: 40px;
  line-height: 1.32;
  font-family: $title-font;
  color: $light-text-color;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.offer-text {
  width: 90%;
  max-width: 450px;
  margin-bottom: 35px;

  font-size: 22px;
  line-height: 1.36;
  color: $light-text-color;
}

