.portfolio {
	padding: 60px 0 45px;
	color: $light-text-color;
	overflow-x: hidden;
	background-color: $dark-bg-color;
	.wrapper--right {
		display: flex;
	}
	&-inner {
		display: grid;
		grid-template-columns: 35% 32.5% 32.5%; 
		grid-gap: 20px;
		grid-template-areas: 
		"about photo photo"
		"info photo photo"
	}
	&-about {
		grid-area: about;
		padding-right: 30px;
	}
	.colorized_title {
		max-width: 255px;
	}
	&_txt {
		font-size: 18px;
		line-height: 1.61;
		margin-bottom: 25px;
	}
}

.info_slider {
	padding-right: 30px;
	grid-area: info;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&-list {
	list-style: none;
	padding-top: 15px;
	}
	&-project_info {
		display: grid;
		grid-template-columns: 40% 50%;
		grid-template-rows: 1fr 1fr;
		list-style: none;
	}
	&_block {
		margin-right: 5%;
		margin-bottom: 37px;		
	}
	&-data_title {
		font-size: 18px;
		line-height: 1.39;
		font-family: $title-font;
		text-transform: uppercase;
		color: $accent-color;
		margin-bottom: 10px;
	}
	&-data {
		font-style: 15px;
		line-height: 1.33;
		padding-right: 20px;
	}
}

.photo_slider {
	position: relative;
	grid-area: photo;
	&-list {
	display: flex;
	list-style: none;
	}
	&-item {
		margin-right: 20px;
		flex-shrink: 0;
		width: 100%;
		max-width: 680px;
		&:last-child {
			margin-right: 0;
		}
	}
	&-label {
		font-family: $title-font;
		font-size: 14px;
		line-height: 1.36;
		color: rgba($light-text-color, 0.3);
		padding: 5px;
		margin-right: 60px;
		text-transform: uppercase;
		margin-bottom: 45px;
		display: inline-block;
		cursor: pointer;
		&:last-child {
			margin-right: 0;
		}
		&:hover,
		&--active {
			color: $accent-color;
			border-bottom: 1px solid $accent-color;
		}
	}
	input[type="radio"] {
		display: none;
	}
}
