.projects {
  padding-bottom: 0;

  background-image: linear-gradient(to top, $dark-bg-color 470px, #ffffff 350px, #ffffff 100%);
  .section_title--img {
    &::after {
      content: url("../assets/images/svg/projects.svg");
    }
  }
  .text {
    margin-bottom: 45px;
  }
}
.plan {
  &_list {
    align-items: flex-start;
    &-item:last-child {
      padding-bottom: 0;
    }
  }
}
