.reviews {
	padding: 45px 0;
	.section_title {
		color: $dark-text-color;
		&--img::after {
			content: url("../assets/images/svg/reviews.svg");
		}
	}
	&_list {
		display: flex;
		justify-content: space-around;
		margin-bottom: 70px;
		&-item {
			width: calc((100% - 100px) / 3);
			padding: 20px 20px 85px 20px;
			position: relative;
			box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
		}
		&-title {
			display: flex;
			align-items: center;
			margin-bottom: 20px;
		}
		&-photo {
			width: 76px;
			height: 76px;	
			border-radius: 50%;
			margin-right: 23px;
		}
		&-name {
			font-size: 18px;
			line-height: 1.28;
			max-width: 180px;
			font-family: $title-font;
			margin-bottom: 0;
		}
		&-content {
			font-size: 15px;
			line-height: 1.8;
			color: $pale-text-color;
		}
		&-project_info {
			position: absolute;
			display: flex;
			bottom: 0;
			left: 0;
			transform: translateY(50%);
			background-color: $accent-color;
			font-size: 17px;
			line-height: 1.41;
			color: $light-text-color;
			text-transform: uppercase;
			font-family: $title-font;
			box-shadow: 5px 5px 20px rgba($accent-color, 0.5);
		}
		&-area::before,
		&-term::before {
			content: "";
			width: 33px;
			height: 33px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 15px;
		}
		&-area {
			border-right: 1px solid #ffffff;
			padding: 12px 14px 12px 18px;
			&::before {
				background: url('../assets/images/svg/area.svg') no-repeat center;
			}
		}
		&-term {
			padding: 12px 20px 12px 17px;
			&::before {
				background: url('../assets/images/svg/scedule.svg') no-repeat center;
			}
		}
	}

}
.about_customers {
	max-width: 360px;
	margin-bottom: 40px;
}