.header {
  min-height: 90px;
  margin-right: 100px;

  font-size: 14px;
  line-height: 1.14;
  color: $light-text-color;

  @include flex (space-between, center);
}

.main_navigation {
  list-style: none;

  @include flex (space-between, center);
  &-link {
    margin: 5px;
    padding: 5px 13px;

    color: $light-text-color;
    text-transform: uppercase;
    text-decoration: none;

    transition: color 0.3s ease;
    &:hover,
    &--active {
      color: $accent-color;
    }
  }
}


.tel_link {
  font-family: $accent-font;
  color: $accent-color;
  text-decoration: none;
  white-space: nowrap;

  border-bottom: 1px solid $accent-color;
  &:hover {
    color: darken($accent-color, 5%);
  }
}

.header-btn {
  margin-left: 20px;
}
