
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $text-font;
  color: $dark-text-color;
}

h2,
h3,
h4 {
  margin-top: 0;
}

ul {
  padding-left: 0;
}

img {
  width: 100%;
}

a {
  &:focus,
  &:active {
    outline: 2px solid darken($accent-color, 35%);
  }
}

h2,
h3 {
  margin-top: 0;
}

ul,
p {
  margin: 0;
}

.visually_hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  &--centered {
    width: 86%;
    margin: 0 7%;
  }
  &--left {
    margin-right: 7%;
    margin-left: 0;
  }
  &--right {
    margin-right: 0;
    margin-left: 7%;

    .first_screen & {
      width: 94.3%;
      margin-left: 5.7%;
    }
  }
}

.section_title,
.colorized_title {
  font-family: $title-font;
}

.section_title {
  font-size: 20px;
  line-height: 1.4;
  color: $dark-text-color;
  text-transform: uppercase;
  text-align: center;
  &--img {
    &::after {
      width: 114px;
      height: 28px;
      display: block;
      margin: 13px auto 31px;
    }
  }
}

.colorized_title {
  color: $accent-color;
  font-size: 27px;
  line-height: 1.37;
  text-transform: uppercase;
  position: relative;
    &--line {
      position: relative;
      &::after {
        content: "";
        width: 92px;
        height: 1px;
        position: absolute;
        bottom: 19px;
        right: -8px;
        background-color: $accent-color;
      }
    }
}

.accent {
  color: $accent-color;
}

.ttu {
  text-transform: uppercase;
}

.relative {
  position: relative;
}

.text {
    font-size: 20px;
    line-height: 1.35;
    text-align: center;
    max-width: 680px;
    margin: 0 auto;
}


/* Temporary styles */


.footer {
  background-color: #0a0909;
  .wrapper-centered {
    min-height: 200px;

    background-color: #8f8c8b;
  }
}

