
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $text-font;
  color: $dark-text-color;
}

h2,
h3 {
  margin-top: 0;
}

ul {
  padding-left: 0;
}

img {
  width: 100%;
}

a {
  &:focus,
  &:active {
    outline: 2px solid darken($accent-color, 35%);
  }
}

input:focus {
  outline: none;
  border-bottom: 2px solid darken($accent-color, 35%);
}

.visually_hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  &--centered {
    width: 86%;
    margin: 0 7%;
  }
  &--left {
    margin-right: 7%;
    margin-left: 0;
  }
  &--right {
    margin-right: 0;
    margin-left: 7%;

    .first_screen & {
      width: 94.3%;
      margin-left: 5.7%;
    }
  }
}

.section_title,
.colorized_title {
  font-family: $title-font;
}

.section_title {
  font-size: 20px;
  line-height: 1.4;
  color: $dark-text-color;
  text-transform: uppercase;
  text-align: center;
}

.colorized_title {
  color: $accent-color;
  font-size: 27px;
  line-height: 1.37;
  text-transform: uppercase;
}

.accent {
  color: $accent-color;
}

.ttu {
  text-transform: uppercase;
}

.relative {
  position: relative;
}

/* Temporary styles */



.repair-types {
  .wrapper-centered {
    background-color: #d6c7ba;
  }
}

.call-measurer {
  .wrapper-left {
    background-color: #b39c88;
  }
}

.gallery {
  background-color: #2b2927;
  .wrapper-centered {
    background-color: #61564c;
  }
}

.projects {
  .wrapper-centered {
    background-color: #cc7e37;
  }
}

.measurement {
  background-color: #1f1c1a;
  .wrapper-centered {
    background-color: #8f8c8b;
  }
}

.team {
  background-color: #8f7272;
  .wrapper-centered {
    background-color: #8f8c8b;
  }
}

.reviews {
  background-color: #c9b1b1;
  .wrapper-centered {
    background-color: #8f8c8b;
  }
}

.questions {
  background-color: #786767;
  .wrapper-centered {
    min-height: 400px;

    background-color: #8f8c8b;
  }
}

.contacts {
  background-color: #2e2d2d;
  .wrapper-centered {
    min-height: 400px;

    background-color: #8f8c8b;
  }
}

.footer {
  background-color: #0a0909;
  .wrapper-centered {
    min-height: 200px;

    background-color: #8f8c8b;
  }
}

h2,
h3 {
  margin-top: 0;
}

ul,
p {
  margin: 0;
}

