@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Futura BookC";

  src: url("../assets/fonts/Futura/FuturaBookC.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Futura DemiC";

  src: url("../assets/fonts/Futura/FuturaDemiC.woff2") format("woff2");
}

@font-face {
  font-style: italic;
  font-weight: normal;
  font-family: "Futura DemiC";

  src: url("../assets/fonts/Futura/FuturaDemiC-Italic.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Futura MediumC";

  src: url("../assets/fonts/Futura/FuturaMediumC.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Proxima Nova";

  src: url("../assets/fonts/ProximaNova/ProximaNovaRegular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Yeseva One";

  src: url("../assets/fonts/YesevaOne/YesevaOne.woff2") format("woff2");
}
