@media screen and (max-width: 1250px) {
  .nav,
  .main_navigation {
    display: none;
  }
  .tel_link {
    margin-left: auto;
  }
  .portfolio {
    &-inner {
      grid-template-areas: 
      "about about ."
      "photo photo photo"
      "info info .";
    }
  }
  .photo_slider {
    &-label {
      display: none;
    }
  }
}

@media screen and (max-width: 1000px) {
  .section {
    padding: 35px 0;
  }
  .instagram_link {
    display: none;
  }
  .page_title {
    font-size: 32px;
  }
  .offer-text {
    font-size: 18px;
  }
  .broadcast {
    background-image: linear-gradient(to top, #fff 45px, $dark-bg-color 45px, $dark-bg-color 100%);
    color: $light-text-color;
    padding-bottom: 25px;
    .text {
      margin-bottom: 30px;
    }
    &_form {
      flex-direction: column;
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
      .input_wrapper {
        margin: 30px 0;
      }
      &-agreement {
        margin: 0 0 30px;
        text-align: left;
        .label {
          color: $light-text-color;
        }
      }
      .label {
        color: rgba($light-text-color, 0.5);
      }
      .form-input {
        width: 100%;
        border-bottom-color: rgba(255, 255, 255, 0.15);
        color: $light-text-color;
        &::-webkit-input-placeholder {
          color: $light-text-color;
        }
        &:focus {
          border-bottom: 1px solid lighten($accent-color, 10%);
        }
      }
      .form-submit {
        order: 4;
      } 
    }
  }
}

@media screen and (max-width: 700px) {
  .section {
    padding: 27px 0;
  }
  .text {
    font-size: 14px;
  }
  .circle_controls {
    width: 36px;
    height: 36px;
    &--play {
      background-size: 13px 13px;
    }
  }
  .colorized_title {
    &--line::after {
      display: none;
    }
  }
  .tel_link {
    color: $light-text-color;
    border: 0;
  }
  .header-btn,
  .scroll {
    display: none;
  }
  .header,
  .wrapper--centered,
  .wrapper--left,
  .wrapper--right {
    width: 100%;
    margin: 0;
    padding: 0 18px;
  }
  .first_screen {
    &-wrapper {
    padding: 0;
    }
    .container {
      padding-bottom: 0;
    }
  }
  .offer {
    padding-left: 18px;
    padding-right: 18px;
  }
  .portfolio {
    padding-top: 36px;
    .colorized_title,
    &_txt {
      margin: 0 auto 30px;
      text-align: center;
    }
    &_txt {
      max-width: 80%;
    }
    &-inner {
      grid-column-gap: 0;
      grid-row-gap: 30px;
      grid-template-areas: 
      "about about about"
      "photo photo photo"
      "info info info";
    }
    &-about {
      padding-right: 0;
    }
  }
  .info_slider {
    padding-right: 0;
    .controls {
      display: none;
    }
  }
}

@media screen and (max-width: 585px) {
  body {
    font-size: 14px;
  }
  .header {
    min-height: 60px;
  }
  .page_title {
    font-size: 23px;
    width: 100%;
  }
  .offer .btn {
    width: 100%;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 375px) {
  .reviews {
    display: none;
  }
}
