$light-text-color: #ffffff;
$dark-text-color: #363636;
$accent-color: #E3B873;

$text-font: "Futura BookC", sans-serif;
$accent-font: "Futura DemiC", sans-serif;
$scheme-font: "Futura MediumC", sans-serif;
$title-font: "Yeseva One", serif;

$dark-bg-color: #131313;